nav
  .logo
    h3 Puzzle Club
  .nav-area
    .wideDiv
      a(href = "#") Link 1
      a(href = "#") Link 2
      a(href = "#") Link 3
  .navNarrow
    i.fa.fa-bars.fa-2x
  //- .name
  //-   h3 Puzzle Club
  //- a(href='#')
  //-   i.fa.fa-address-book
  script.